<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap shadow p-3">
  <a class="navbar-brand col-md-3 col-xl-2 me-0 px-3 fs-4" href="{% url 'sensors_app:places' %}"><span>Energy</span> RCD Conviction</a>
  <button class="navbar-toggler position-absolute d-xl-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>   
</header>
