{% extends 'include/base.html' %}

{% load static %}

{% block title %}Energy-Emais{% endblock title %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/alertsInit.css' %}">

{% endblock style %}

{% block script %}

{% endblock script %}

{% block content %}

<body class="bg-light">

    {% include 'include/header.html' %}

    <div class="container">
        <div class="row">
            {% include 'include/aside.html' %}

            <main class="ms-sm-auto col-xl-10 px-md-4 full">

                <div class="m-4">
                    <h1>Gestión de E-mails</h1>
                    <p class="text-danger">Eliminando e-mail de notificación.</p>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="d-flex gap-3 justify-content-center">

                                <form method="post">
                                    {% csrf_token %}

                                    <div class="d-flex flex-column align-items-center mb-4">
                                        <p>¿Estás seguro de eliminar el registro?</p>
                                        <p>"{{ object }}"?</p>

                                    </div>

                                    <div class="d-flex justify-content-center gap-5">
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                        <a href="{% url 'alerts_app:emailList' %}"
                                            class="btn btn-primary">Volver</a>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>

{% endblock content %}