{% extends 'include/base.html' %}

{% load static %}

{% block title %}Energy-Ubicaciones{% endblock title %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/alertsInit.css' %}">

{% endblock style %}

{% block script %}


{% endblock script %}

{% block content %}

<body class="bg-light">

    {% include 'include/header.html' %}

    <div class="container-fluid">
        <div class="row">

            {% include 'include/aside.html' %}

            <main class="ms-sm-auto col-xl-10 px-md-4 bg-light">

                <div
                    class="container-fluid d-flex flex-column flex-md-row justify-content-center align-items-center gap-5 mt-5 mb-5">

                    <a href="{% url 'alerts_app:gestionAlerts' %}" class="text-decoration-none p-3 d-flex flex-column align-items-center justify-content-center card-alert card-green">
                        <p class="text-center">
                            Gestión Alertas
                        </p>
                        <p class="fs-6 text-center mt-4 text-mod">
                            Asigne - Habilite alarmas para sus sensores.
                        </p>
                    </a>

                    <a href="{% url 'alerts_app:emailList' %}" class="text-decoration-none p-3 d-flex flex-column align-items-center justify-content-center card-alert card-orange">
                        <p class="text-center">
                            Correos de notificación
                        </p>
                        <p class="fs-6 text-center mt-4 text-mod">
                            Agrege - edite - elimine correos de destino para sus notificaciones.
                        </p>
                    </a>
                </div>

            </main>
        </div>
    </div>

</body>


{% endblock content %}